.video{
    display: inline-block;

    height: 300px;
    width: 316px;

    background-color: coral;
}

.v_img{
    height: 55%;
    width:  92%;

    background-color: cadetblue;
}

.v_txt{
    display: flex;

    background-color:crimson   ;
}
.v_profile{
    
    height: 45px;
    width: 45px;
    
    border-radius: 50%;
    
    background-color: cadetblue;
}
.v_text{
    height: 70%;
    width: 70%;

    padding: 0px 15px;
    background-color: cornflowerblue;
}