:root{
    --one: rgb(21, 189, 27,.5)
}

.cotents{
    display: flex;
    align-items: center;
}

.topContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    background-color: var(--one);
}

.right-icon.active{
    color: violet;
}