:root{
    --one: rgba(85, 85, 85, 0.838);
}

.cotents{
    display: flex;
    align-items: center;
}

.topContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;

    height: 60px;
    width: 100%;

    background-color: var(--one);
}

.right-icon.active{
    color: violet;
}